/* Navbar Styling */
.custom-navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px; /* Eingeklappte Breite */
  background-color: #2d3b50;
  transition: transform 0.3s ease, width 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  z-index: 10; /* Damit die Navbar über anderen Elementen liegt */
}

.custom-navbar.expanded {
  width: 200px; /* Breitere Navbar, wenn sie ausgeklappt ist */
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-list li {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.navbar-list li:hover {
  background-color: #1c2d3f;
}

/* Icons Styling */
.icon {
  font-size: 1.5em;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

/* Link Styling für alle Einträge */
.navbar-list a {
  color: white;
  text-decoration: none;
  font-size: 16px; /* Kleinere Schriftgröße für Navbar-Links */
  display: flex;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.navbar-list.expanded a {
  opacity: 1; /* Text einblenden, wenn Navbar erweitert ist */
}

.navbar-list a:hover {
  background-color: #1c2d3f;
  opacity: 1;
}

/* Custom Lists Menu Styling */
.custom-lists-menu {
  position: absolute;
  top: 0;
  left: 100%; /* Das Dropdown erscheint rechts vom "Custom Listen"-Eintrag */
  width: 140px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Schlagschatten für Custom Listen */
  border-radius: 5px;
  padding: 8px;
  z-index: 100; /* Sicherstellen, dass das Dropdown über anderen Elementen liegt */
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-lists-dropdown:hover .custom-lists-menu {
  opacity: 1; /* Einblenden der Custom Lists bei Hover */
  transform: translateX(0); /* Animiert das Dropdown-Menü von links */
}

.custom-list-item {
  color: #2481e4;
  text-decoration: none;
  padding: 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.custom-list-item:hover {
  background-color: #e0e0e0; /* Hover-Hintergrund für Custom Listen */
  color: #2481e4;
}

/* Logout Button Styling */
.logout-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px; /* Kleinere Schriftgröße für den Logout-Button */
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.logout-button:hover {
  background-color: #1c2d3f;
}
