/* App Layout */
.app-layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Main Content Styling */
.main-content {
  margin-left: 60px; /* Platz für die eingeklappte Navbar */
  flex: 1; /* Hauptinhalt nimmt den verbleibenden Platz ein */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transition für das Verschieben der Inhalte */
}

.custom-navbar.expanded ~ .main-content {
  margin-left: 200px; /* Platz für die ausgeklappte Navbar */
}
